# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Environnement virtuel
venv/
ENV/

# Fichiers de l'application
uploads/*
!uploads/.gitkeep
downloads/*
!downloads/.gitkeep

# Fichiers système
.DS_Store
Thumbs.db

# Fichiers d'environnement
.env
.env.local

# Fichiers de logs
*.log

# Fichiers IDE
.idea/
.vscode/
*.swp
*.swo
